body{
    background-color: black;
}

.container1{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -150px 0 0 -150px;
  }
  
  .square{
    height: 94%;
    width: 94%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
  }
  
  .black{ 
    background: black;  
    animation: rotate 10s infinite linear; 
  }
  
  @keyframes rotate{
    0%{ transform: rotate(0deg); }
      100%{ transform: rotate(360deg); }	
  }
.navbar-inverse{
  background:#222B31 !important;
  border-bottom:4px solid #EE445F !important;
}

.navbar-brand{
  font:15px Lato !important;
  text-transform:uppercase;
  color:#FFF !important;
  letter-spacing:5px;
  margin-top:0px;
}

.nav{
  margin-bottom:0px;
  float: right;
  a{
    font:11px Lato !important;
    letter-spacing:2px;
    padding:16px !important;
    color:#a3bfc6 !important;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  a:hover{
    color:#FFF !important;
  }
  li{
    position:relative;
  }
}

.navbar-inverse .navbar-toggle{
  border:none;
}

.navbar-collapse{
  box-shadow:none !important;
  border:none !important;
}

.navbar-inverse .navbar-toggle:hover{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:focus{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:active{
  background:transparent !important;
}

.icon-bar{
  background:#a3bfc6 !important;
}

.hover{
  display:block;
  position:absolute;
  width:0%;
  height:100%;
  top:0px;
  left:0px;
  background:#EE445F !important;
  z-index:0;
  opacity:0;
}

@media (max-width: 767px) {
.nav{
    float:left;
  padding-bottom:20px;
  a{
    padding:12px !important;
  }
}
}

@media (max-width: 480px) {
  .nav{
    padding-bottom:20px;
  }
}
.banner{
    text-align: center;
    position: relative;
    margin-top: 620px;
    font:30px Lato !important;
    text-transform:uppercase;
    color:#EE445F !important;
    letter-spacing:10px;
    
    
}
h3{
    color:#fff;
    font:20px Lato !important; 
    letter-spacing: 7px; 
}
@media (max-width: 767px){
    .banner{
        font:25px Lato !important;
        margin-top: 450px;
        
    }
    h3{
        font:15px Lato !important;
    }
    .container1{
        height: 200px;
        width: 200px;
        position: absolute;
        margin: -100px 0 0 -100px;
      }
}